/* 画面サイズの横幅が 768px より小さい場合に適用 */
@media screen and (max-width: 740px) {
  .split-box {
		position:relative;
		width:100%;
		height:auto;
	}
}

/* 画面サイズの横幅が 480px より大きい場合に適用 */
@media screen and (min-width: 740px) {
  .split-box{
  	position:absolute;
  	width:50%;
  	height:100%;
  }
}

/*画面を左右に分解する為のもの*/
/*https://webdesign-trends.net/entry/2325*/


.left-box {
	left:0;
}

.right-box {
	right:0;
	overflow-y:scroll;
}
/*ここまで*/


/*googleカレンダーの装飾*/
.cal_wrapper {
  margin-top: 5px;
  padding-left:2%;
  padding-right:2%;
  width: auto;
}

.googlecal {
position: relative;
padding-bottom: 100%;
height: 0;
}

.googlecal iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

  /*カードの装飾*/
  .l-wrapper * {
    margin: 0;
    padding: 0;
  }

  .l-wrapper body {
    background-color: #eee;
    line-height: 1.5;
  }

  /*img {
    max-width: 100%;
    vertical-align: bottom;
  }*/

  .l-wrapper {
    width: auto;
    height: auto;
    position: relative;
    margin-top: 5px;
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 1%;
  }

  .card {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .16);
    color: #212121;
    text-decoration: none;
  }

  .card__header {
  }

  .card__title {
    padding: 1rem 1rem 0;
    font-size: 1.25rem;
  }

  /*.card__thumbnail {
    margin: 0;
    order: 0;
  }*/

  /*.card__image {
    width: 100%;
  }*/

  .card__body {
    padding: 1rem;
  }

  .card__text {
    font-size: .75rem;
  }

  .card__text + .card__text {
    margin-top: .5rem;
  }

  .card__text.-number {
    text-align: right;
  }

  .card__footer {
    text-align: center;
    padding: 5px;
    border-top: 1px solid #ddd;
  }

  .button {
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
  }

  .button.-compact {
    padding: .5rem 1rem;
    border-radius: .25rem;
    background-color: #ff6a6a;
    color: #fff;
    font-weight: bold;
  }

  .button.-compact:hover,
  .button.-compact:focus {
    background-color: #ff6a6a;
  }




/*並べ方は、ここを参照*/
/*https://qiita.com/katsunory/items/99a417f4e1a763477a09*/
body{
  font-family: 'Noto Serif JP', serif;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  min-width:auto;
  /*背景色が途切れない対策*/
  min-height: 1200px;
  height:auto;
  margin: 0px;
}

.top{
  width: 100%;
  text-align: center;
  font-size: 20px;
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

h1{
  margin:0px;
  padding: 0px;
}

span{
  color:#ff6a6a;
}

/*https://877.design/flexbox-layout/*/

/*メニューの装飾*/
* {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
text-decoration: none;
color: inherit;
}
.cp_fullscreenmenu {
position: fixed;
z-index: 1;
top: 0;
left: 0;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
position: fixed;
top: 0;
left: 0;
display: flex;
visibility: hidden;
overflow: hidden;
width: 100%;
height: 100%;
pointer-events: none;
outline: 1px solid transparent;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
align-items: center;
justify-content: center;
}
.cp_fullscreenmenu .menu > div {
display: flex;
overflow: hidden;
width: 250vw;
height: 250vw;
transition: all 0.2s ease;
-webkit-transform: scale(0);
transform: scale(0);
text-align: center;
color: #fefefe;
border-radius: 50%;
background: #000;
flex: none;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
align-items: center;
justify-content: center;
}
.cp_fullscreenmenu .menu > div > ul {
display: block;
max-height: 100vh;
margin: 0;
padding: 0 1em;
list-style: none;
transition: opacity 0.2s ease;
opacity: 0;
}
.cp_fullscreenmenu .menu > div > ul > li {
font-size: 24px;
display: block;
margin: 1em;
padding: 0;
}
.cp_fullscreenmenu .menu > div > ul > li > a {
position: relative;
display: inline;
cursor: pointer;
transition: color 0.2s ease;
}
.cp_fullscreenmenu .menu > div > ul > li > a:hover {
color: #e5e5e5;
}
.cp_fullscreenmenu .menu > div > ul > li > a:hover:after {
width: 100%;
}
.cp_fullscreenmenu .menu > div > ul > li > a:after {
position: absolute;
z-index: 1;
bottom: -0.15em;
left: 0;
width: 0;
height: 2px;
content: '';
transition: width 0.2s ease;
background: #e5e5e5;
}
/*クリックしたらメニューが開閉の動作*/
.cp_fullscreenmenu .toggle {
position: absolute;
z-index: 2;
top: 0;
left: 0;
width: 60px;
height: 60px;
cursor: pointer;
opacity: 0;
}
.cp_fullscreenmenu .toggle:checked + .hamburger > span {
-webkit-transform: rotate(135deg);
transform: rotate(135deg);
}
.cp_fullscreenmenu .toggle:checked + .hamburger > span:before,
.cp_fullscreenmenu .toggle:checked + .hamburger > span:after {
top: 0;
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}
.cp_fullscreenmenu .toggle:checked + .hamburger > span:after {
opacity: 0;
}
.cp_fullscreenmenu .toggle:checked ~ .menu {
visibility: visible;
pointer-events: auto;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div {
transition-duration: 0.2s;
-webkit-transform: scale(1);
transform: scale(1);
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul {
opacity: 1;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(1) {
transition-delay: 0s;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(2) {
transition-delay: 0s;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(3) {
transition-delay: 0s;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(4) {
transition-delay: 0s;
}
.cp_fullscreenmenu .toggle:hover + .hamburger {
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.cp_fullscreenmenu .toggle:checked:hover + .hamburger > span {
-webkit-transform: rotate(225deg);
transform: rotate(225deg);
}
/*ハンバーガー*/
.cp_fullscreenmenu .hamburger {
position: absolute;
z-index: 1;
top: 0;
left: 0;
display: block;
width: 60px;
height: 60px;
padding: 0.5em 1em;
cursor: pointer;
transition: box-shadow 0.2s ease;
border-radius: 0 0.12em 0.12em 0;
background: #000;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.cp_fullscreenmenu .hamburger > span {
position: relative;
top: 50%;
display: block;
width: 100%;
height: 2px;
transition: all 0.2s ease;
background: #fefefe;
}
.cp_fullscreenmenu .hamburger > span:before,
.cp_fullscreenmenu .hamburger > span:after {
position: absolute;
z-index: 1;
top: -10px;
left: 0;
display: block;
width: 100%;
height: 2px;
content: '';
transition: all 0.2s ease;
background: inherit;
}
.cp_fullscreenmenu .hamburger > span:after {
top: 10px;
}
